/* Accent color, hero button color, left part of logo color: #2196F3 */
/* Main text color: #757575 */
/* Secondary text color: #212121 */
/* Right part of logo color in header: #000000 */
/* Right part of logo color in footer: #ffffff */
/* Background color of Hero and Footer: #2F303A */
/* Background color of overall body: #ffffff */
/* Team section background color, portfolio button color: #F5F4FA */
/* Footer address text color: rgba(255, 255, 255, 0.6) */

:root {
    /* Accent color, hero button color, left part of logo color, active state portfolio button */
    --accent: #2196F3;

    /* Main text color */
    --main-text: #757575;

    /* Secondary text color */
    --secondary-text: #212121;

    /* Main body color */
    --body-background: #ffffff;

    /* Right part of logo color in header */
    --header-logo: #000000;

    /* Header grid color */
    --header-grid: #ECECEC;

    /* Hero background color */
    --hero-background: #2F303A;

    /* Hero header and button text color */
    --hero-text: #ffffff;

    /* Hero button hover and focus background color */
    --hero-state-background: #F5F4FA;

    /* Hero button hover and focus text color */
    --hero-state-text: #212121;

    /* Team section background color */
    --team-background: #F5F4FA;

    /* Team item background color */
    --team-item: #ffffff;

    /* Portfolio button background color */
    --portfolio-button: #F5F4FA;

    /* Portfolio button hover and focus text color */
    --portfolio-state: #ffffff;

    /* Portfolio item background color */
    --portfolio-item: #ffffff;
    
    /* Footer background */
    --footer-background: #2F303A;

    /* Right part of logo color in footer */
    --footer-logo: #ffffff;
    
    /* Footer text color */
    --footer-text: #ffffff;

    /* Footer text transparent color */
    --footer-transparent: rgba(255,255,255,0.6);

}

/* Body */

.body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    background-color: var(--body-background, #ffffff);
    color: var(--main-text, #757575);
}

/* Reset unordered list */

.list-reset {
    list-style: none;
    padding: 0;
    margin: 0;
}

/* Reset link */

.link-reset {
    text-decoration: none;
    font-style: normal;
}

/* Reset title */

.title-reset {
    margin-top: 0;
    margin-bottom: 0;
}

/* Common additional class - container */

.container {
    width: 1230px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

/* Sections */

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

/* Removing gap between pictures in li elements */
.item-no-gap {
    font-size: 0;
}

/* --------------------------------------Index-------------------------------------- */

/* Header and navigation */
/* Logo header*/

.header {
    border-bottom: 1px solid var(--header-grid, #ececec);
}

.header-container {
    padding-top: 24px;
    padding-bottom: 24px;
}

.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
}

.logo-header {
    color: var(--header-logo, #000000);
}

.logo-accent {
    color: var(--accent, #2196F3);
}

/* Navigation menu */

.nav-link,
.contacts-link {
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--secondary-text, #212121);
}

.contacts-link {
    color: var(--main-text, #757575);
}

/* Hero */

.hero {
    background-color: var(--hero-background, #2F303A);
    text-align: center;
}

.hero-container {
    padding-top: 200px;
    padding-bottom: 200px;
}

.hero-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--hero-text, #ffffff);
    margin-bottom: 30px;
}

.hero-button {
    font-family: inherit;
    cursor: pointer;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    background-color: var(--accent, #2196F3);
    color: var(--hero-text, #ffffff);
    min-width: 200px;
    border-radius: 4px;
    padding: 10px 32px;
}

/* Our advantages */

.advantages-title {
    visibility: hidden;
    margin-bottom: 50px;
}

.advantages-subtitle {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--secondary-text, #212121);
    margin-top: 0;
    margin-bottom: 10px;
}

/* What we are doing */

.performance-title,
.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    color: var(--secondary-text, #212121);
    margin-bottom: 50px;
}

/* Our team */
.team {
    background-color: var(--team-background, #F5F4FA);
    text-align: center;
}

.team-members {
    background-color: var(--team-item, #ffffff);
    padding-top: 0;
    padding-bottom: 30px
}

.members-name,
.members-title {
    font-size: 16px;
    line-height: 1.18;
    margin-top: 0;
}

.members-name {
    font-weight: 500;
    color: var(--secondary-text, #212121);
    margin-top: 30px;
    margin-bottom: 10px;
}
.members-title {
    margin-bottom: 0;
}

/* Footer */
.footer {
    background-color: var(--hero-background, #2F303A);
    padding-top: 60px;
    padding-bottom: 60px;
}

/* Logo footer*/
.logo-footer {
    color: var(--footer-logo, #ffffff);
}

.address-list {
    margin-top: 20px;
}

.address-item {
    margin: 0 0 9px 0;
}

.address-item:last-child {
    margin-bottom: 0;
}

.address-link {
    line-height: 1.71;
    color: var(--footer-text, #ffffff);
}

.address-transparent {
    color: var(--footer-transparent, rgba(255, 255, 255, 0.6))
}

/* --------------------------------------Portfolio-------------------------------------- */

.portfolio-title {
    visibility: hidden;
}

.button-block {
    text-align: center;
    padding-bottom: 50px;
}

.portfolio-button {
    min-width: 73px;
    font-family: inherit;
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    background-color: var(--portfolio-button, #F5F4FA);
    color: var(--secondary-text, #212121);
    border-radius: 4px;
}

.portfolio-item {
    background-color: var(--portfolio-item, #ffffff);
    padding-top: 0;
    padding-bottom: 20px;
}

.portfolio-company {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--secondary-text, #212121);
    margin-top: 20px;
    margin-bottom: 4px;
}

.portfolio-product {
    font-size: 16px;
    line-height: 1.88;
    margin-top: 0;
    margin-bottom: 0;
}

.portfolio-company, .portfolio-product {
    padding-left: 24px;
    padding-right: 24px;
}

/* --------------------------------------States-------------------------------------- */
/* Between those comments will be "visited" state for links */
/* Between those comments will be "visited" state for links */

/* Hover, focus */

.nav-link:hover,
.nav-link:focus,
.contacts-link:hover,
.contacts-link:focus,
.address-link:hover,
.address-link:focus {
    color: var(--accent, #2196F3);
}

/* Between those comments will be "active" state for links */
.current-active {
    color: var(--accent, #2196F3);
}

/* Between those comments will be "active" state for links */

/* Between those comments will be "visited" state for buttons */
/* Between those comments will be "visited" state for buttons */

/* Hover, focus */
.hero-button:hover,
.hero-button:focus {
    background-color: var(--hero-state-background, #F5F4FA);
    color: var(--hero-state-text, #212121);
}

.portfolio-button:hover,
.portfolio-button:focus {
    background-color: var(--accent, #2196F3);
    color: var(--portfolio-state, #ffffff);
}

/* Between those comments will be "active" state for buttons */
/* Between those comments will be "active" state for buttons */